<!DOCTYPE html>
<html lang="en">
<head>
	<title>Proyecto ChatBol v1.0</title>
	<% include partials/head %>
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Proyecto ChatBol v1.0</h1>
				<p>Login or Registro</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Login
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Registro
				</a>
			</div>
		</div>
	</div>

</body>
</html>